body{
    background-image: url('../img/bg.jpg');
    background-size: 500px;
    height: 100vh;
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
}

.card-body{
    height: 80vh;
}

.bg-pink{
    background-color: seashell;
}

.btn-pink{
    background-color: pink;
}

.btn-pink:hover{
    background-color: lightpink;
    color: white;
}
.btn-pink:hover:disabled{
    background-color: pink !important;
    color: black !important;
}

.v-center{
    margin-top: 35vh !important;
}

*{
    scrollbar-width: thin;
    scrollbar-color: blue orange;
}

*::-webkit-scrollbar {
    width: 12px;
}

*::-webkit-scrollbar-track {
    background: seashell;
}

*::-webkit-scrollbar-thumb {
    background-color: mistyrose;
    border-radius: 20px;
    border: 1px solid seashell;
}

#CCList{
    max-height: 50vh;
}